@using Blazored.LocalStorage
@using Server.Services
@using global::Shared
@inject ICartServiceClient _ICartService
@inject ISyncLocalStorageService _LocalStorageService

<div class="cart-container">
    <a href="cart" class="btn btn-info d-flex align-items-center justify-content-center">
        <i class="oi oi-cart me-2"></i>
        <span>@GetCartItemsCount()</span>
    </a>
</div>


@code{

    private int GetCartItemsCount(){
        var cart = _LocalStorageService.GetItem<List<CardItem>>("cart");
            
        return cart != null ? cart.Count : 0;
    }

    protected override void OnInitialized(){
        _ICartService.OnChange += StateHasChanged;  //sempre que CartService fizer OnChange?.Invoke(), chama StateHasChanged() aqui"
    }

}    
