@using global::Client.Services
@using global::Shared
@inject ICategoryService _icategoryService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorShop <i class="bi bi-bag-check-fill"></i></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (lista_categorias != null && lista_categorias.Any())
        {
            @foreach (var item in lista_categorias)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@($"/categoria/{item.Url}")">
                        @item.Name
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    List<Categoria> lista_categorias = new();

    protected override async Task OnInitializedAsync()
    {
        lista_categorias = await _icategoryService.GetCategorias();
    }
}
